*{
    margin : 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0,213,255,1);

}
.survey{
    width: 500px;
    height: auto;
    background-color: white;
        margin: 100px auto;
    
        display: block;
        padding: 10px 10px;
        border-radius: 5px;
}
.survey h2{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}
label{
    display: block;
}
.formgroup{
    display: block;
    margin-bottom: 10px;
}
input[type="text"],input[type="email"], textarea,
input[type="range"]{
    width: 100%;
 border: 1px solid #ccc;
 padding: 5px;
 border-radius: 4px;
   
}
.btnn{
    width: 100%;
    padding: 4px 10px;
   background-color:  #333;
   color: white;
   border-radius: 4px;
   padding: 5px;
}